*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, #141e30, #243b55);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}
header{
    min-height: 20vh;
    padding-top: 3rem;
    text-align: center;
}
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size: 2.4em;
    padding-bottom: 1.3rem;
}
header p{
    font-size: 1.4em;
}
form input, form button{
    padding: 0.5rem;
    width: 50px;
    font-size: 1.5em;
    border: none;
    outline: none;
    background: #ffffff;
}
form button{
    cursor: pointer;
    color: #ffffff;
    background: #243b55;
    transition: all 0.2s ease;
}
form button:hover{
    background: #ffffff;
    color: #141e30;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list{
    min-width: 50%;
    list-style: none;
}
.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    background: #ffffff;
    color: black;
    font-size: 1.4em;
    transition: all 0.5s ease;
}
.todo-input {
    width: 400px;
    padding-left: 10px;
}
.todo li{
    flex: 1;
}
.complete-btn, .delete-btn{
    background: rgb(25, 150, 25);
    color: #ffffff;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}
.delete-btn{
    background: rgb(194, 34, 34);
}
.todo-item{
    padding: 0rem 0.9rem;
}
.fa-times, .fa-check{
    pointer-events: none;
}
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.date {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

@media (max-width: 768px) {
    .date {
        font-size: 1.8rem;
    }
    .todo-input {
        width: 350px;
    }
    .todo-list {
        width: 400px;
    }
}

@media (max-width: 612px) {
    .date {
        font-size: 1.5rem;
    }
    header p {
        font-size: 1.2rem;
    }
    .todo-input {
        width: 300px;
    }
    .todo-list {
        width: 370px;
    }
}

@media (max-width: 612px) {
    .date {
        font-size: 1.5rem;
    }
    header p {
        font-size: 1.2rem;
    }
    .todo-input {
        width: 300px;
    }
    .todo-list {
        width: 370px;
    }
}

@media (max-width: 582px) {
    .date {
        font-size: 1.9rem;
    }
    header p {
        font-size: 1.4rem;
    }
    .todo-input {
        width: 300px;
    }
    .todo-list {
        width: 370px;
    }
}

@media (max-width: 480px) {
    .date {
        font-size: 1.6rem;
    }
    header p {
        font-size: 1.3rem;
    }
    .todo-input {
        width: 300px;
    }
    .todo-list {
        width: 370px;
    }
}

@media (max-width: 378px) {
    .date {
        font-size: 1.4rem;
    }
    header p {
        font-size: 1.2rem;
    }
    .todo-input {
        width: 250px;
    }
    .todo-list {
        width: 315px;
    }
}

@media (max-width: 320px) {
    .date {
        font-size: 1.2rem;
    }
    header p {
        font-size: 1rem;
    }
    .todo-input {
        width: 210px;
    }
    .todo-list {
        width: 280px;
    }
}

@media (max-width: 280px) {
    .date {
        font-size: 1rem;
    }
    header p {
        font-size: 0.9rem;
    }
    .todo-input {
        width: 180px;
    }
    .todo-list {
        width: 260px;
    }
}